/*  ––– Root Settings –––  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("https://use.typekit.net/rha3fzh.css");

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #F3F4F1;
}

/*  ––– Bootstrap Settings –––  */

.container-none {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container-none {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-none {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container-none {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container-none {
      max-width: 1140px; } }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

  .no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
 }

 @media (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-toggler{
  background-image: url('../img/nav-close.svg');
  background-size: 100% 100%;
}

.navbar-toggler.collapsed{
  background-image: url('../img/m-nav.svg');
  background-size: 100% 100%;
}

.navbar-light {
  background-image: none;
}

/*  ––– Typography –––  */


h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: #FFFFFF;
  line-height: 2.3125rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1F1D1D;
  line-height: 2rem;
  margin-top: 0.875rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #1F1D1D;
  line-height: 1.625rem;
  margin-top: 0.875rem;
}

h4 {
  font-family: ff-meta-serif-web-pro, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1F1D1D;
  background-image: linear-gradient(120deg, #ea566666 0%, #ea566666 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 95%;
  display: inline-block;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #67767E;
}

h5.white {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #FFFFFF;
}

span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #A0A9AE;
}

span.purple {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #ea5666;
}

span.mint {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #4AC5B6;
}

span.liveticker {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #FFF;
  background-color: #000000;
  padding-left: 7px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-left: 0.4rem;
}

p {
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 400;
  font-size: 1.06rem;
  color: #1F1D1D;
  line-height: 1.6rem;
}

p.bannertext {
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #FFFFFF;
  line-height: 1.75rem;
}

p.kolumne {
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  color: #1F1D1D;
  line-height: 1.4375rem;
}

.rubricbtn {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #ea5666;
  float: right;
}

a.like-btn, a.otherBtn-xl, a.otherBtn {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #67767E;
}

a.like-btn-white, a.otherBtn-white {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #FFF;
}

 .adwrap p {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 0.8rem;
   color:#A0A9AE;
   margin-bottom: 0.9375rem;
   margin-top: 0.9375rem;
 }

/*  ––– Header Styles –––  */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  line-height: 3.125rem;
  background: white;
  box-shadow: 0 2px 40px 0 rgba(30,24,24,0.05);
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #A0A9AE;
}

a:hover {
  color: #1F1D1D;
  transition: all 0.2s ease;
}

.nav-item  {
  padding: 0 0.7rem 0 0.7rem;
  float: left;
}

.np {
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.active > a.nav-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ea5666;
}

.active::before{
    content: '';
    position: absolute;
    top: auto;
    left: 13.35rem;
    top: 0px;
    right: 53.15rem;
    height: 3px;
    background: #ea5666;
    display: block;
  }

  #logo {
    margin-right: 3.05rem;
  }

.nav-icons {
  text-align: right;
  float: left;
}

ul {
  right: 0;
  margin-right: 0;
}

.nav-elem {
  text-align: justify;
  float: left;
}

.iconwrap {
  padding-left: 3.05rem;
}

.mr-auto, .mx-auto {
  margin-right: 0!important;
}

.nav-icons svg:hover path {
  fill: #1F1D1D;
  transition: 0.2s all;
}

/*  ––– Teaser Styles –––  */

.icons-white > .like {
  color: white;
  transition: 0.2s ease;
}

.icons-white > .like:hover  {
  color: #e8e8e8;
}

.icons-white > .like > span {
  color: white;
  transition: 0.2s ease;
}

.icons-white > .like > span:hover  {
  color: #e8e8e8;
}

.icons-white > a {
  color: white;
  transition: 0.2s ease;
}

.icons-white > a:hover {
  color: #e8e8e8;
}

i {
  font-style: normal;
}

.like > span {
  font-size: 1.05rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #67767E;
  transition: 0.2s ease;
}

.like > span:hover {
  color: #1F1D1D;
}

.like {
  font-size: 1.05rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #67767E;
  display: inline-block;
  transition: 0.2s ease;
}

.like:hover {
  color: #1f1d1d;
  display: inline-block;
}

.liked {
  color: #ea5666;
  transition: 0.2s ease;
}

.liked > span {
  color: #ea5666;
  transition: 0.2s ease;
}

.liked:hover {
  color: #ea5666;
}

.liked > span:hover {
  color: #ea5666;
}

.big-teaser {
  margin-top: 1rem;
}

@media (min-width: 992px){
.big-teaser {
  margin-top: 0;
}
}

.rubricbtn {
  padding-top: 6px;
}

.rubrik-link {
  font-weight: 500;
}

.rubrik-link:hover {
  cursor: pointer;
}

.noborders {
  padding-left: -15px;
  padding-right: -15px;
}

.noborders:hover {
  box-shadow: 0 20px 36px 0 rgba(0,0,0,0.07);
  cursor: pointer;
}

.content {
  background: #FFF;
  padding: 1.5rem;
}

.content-main {
  background: #ea5666;
  padding: 1.5rem;
  height: max-content;
}

@media (min-width: 992px){
.content-main {
  background: #ea5666;
  padding: 1.5rem;
  height: 31.5rem;
}
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot {
  margin-right: 5px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.img-container-main {
  height: 25rem;
}

@media (min-width: 992px){
.img-container-main {
  height: 31.5rem;
}
}

@media (min-width: 992px){
.no-pr {
  padding-right: 0;
}

.no-pl {
  padding-left: 0;
}
}

.img-container-xl {
  background: black;
  height: 23.4375rem;
}

.img-container-sm {
  background: black;
  height: 18.3125rem;
}

@media (min-width: 992px){
.img-container-sm {
  background: black;
  height: 15.3125rem;
}
}

.sm-teaser {
  margin-top: 1rem;
}

@media (min-width: 992px){
.sm-teaser {
  margin-top: 1.875rem;
}
}

.s-teaser {
  margin-top: 1rem;
}

@media (min-width: 992px){
.s-teaser {
  margin-top: 0;
}
}


.otherBtn-xl {
  margin-left: 1.5rem;
}

.otherBtn {
  margin-left: 1.3rem;
}

.otherBtn-white {
  margin-left: 1.3rem;
}

.like-number, i {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}

.icons {
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
}

@media (min-width: 992px){
.icons {
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
}
}

.icons-white {
  margin-top: 3.5rem;
}

.arrow {
  margin-left: 0.25rem;
}

.secHead {
  margin-bottom: 1.1875rem;
  margin-top: 2.25rem;
}
 a > img.up {
   margin-bottom: 4px;
 }

 .contentwrap {
   box-shadow: none;
   transition: all 0.3s ease;
 }

 .contentwrap:hover {
   box-shadow:  0 20px 36px 0 rgba(0,0,0,0.07);
   cursor: pointer;
 }

 .adwrap {
   text-align: center;
   margin-bottom: 1rem;
 }

 .date {
  position: relative;
  margin-top: 10px;
 }

 #top-news {
   margin-top: 5.6875rem;
 }

@media (min-width: 992px){
#top-news {
  margin-top: 6.625rem;
}
}

 /*  ––– FOOTER Styles –––  */

 #footer {
   margin-top: 4vh;
 }

 @media (min-width: 992px){
   #footer {
     margin-top: 10vh;
   }
 }

 .footer-wrap {
   background: #1F1D1D;
   padding-top: 2.25rem;
   padding-right: 1.4375rem;
   padding-left: 1.4375rem;
 }

@media (min-width: 992px){
 .footer-wrap {
   background: #1F1D1D;
   padding-top: 2.25rem;
 }
}

 .footlist {
   padding-bottom: 2.25rem;
 }

 a.footlink {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 0.975rem;
   color: #FFFFFF;
   line-height: 26px;
 }

  a.footlink:hover {
    color: #ea5666;
    transition: 0.2s all;
    cursor: pointer;
  }

 a.footermenu, .footercopy {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 0.75rem;
   color: #F3F4F5;

 }

  a.footermenu:hover {
    color: #ea5666;
    transition: 0.2s all;
    cursor: pointer;
  }


  .rightfoot {
    text-align: left;
    color: white;
  }

@media (min-width: 992px){
 .rightfoot {
   text-align: right;
   color: white;
 }
}

 .sitecopy {
   border-top: 1px #5F646E solid;
   margin: 0;
   padding-bottom: 1.25rem;
   padding-top: 0.5rem;
 }

 .f-logo {
   margin-top: 0.625rem;
 }

@media (min-width: 992px){
.f-logo {
  margin-top: 1.2rem;
}
}

.socialmedia {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px){
.socialmedia {
  margin-top: 0.8rem;
}
}

.sm-icon {
  margin-left: 0.6125rem;
}

a.sm-icon:hover {
  text-decoration: none;
}

.socialmedia svg:hover path {
  fill: #ea5666;
  transition: 0.2s all;
}

a.sm-icon > svg {
  width: 30px;
  height: 30px;
}

@media (min-width: 540px){
a.sm-icon > svg {
  width: 24px;
  height: 24px;
}
}

@media (min-width: 720px){
a.sm-icon > svg {
  width: 24px;
  height: 24px;
}
}

@media (min-width: 992px){
a.sm-icon > svg {
  width: 18px;
  height: 18px;
}
}

 /*  ––– Teaser IMAGES –––  */



.img-container-main {
  background-image: url('../img/top-news-1.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.top-news-2 {
  background-image: url('../img/top-news-2.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.top-news-3 {
  background-image: url('../img/top-news-3.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.top-news-4 {
  background-image: url('../img/top-news-4.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

 .corona-1 {
   background-image: url('../img/corona-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .corona-2 {
   background-image: url('../img/corona-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .corona-3 {
   background-image: url('../img/corona-3.png');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .corona-4 {
   background-image: url('../img/corona-4.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .corona-5 {
   background-image: url('../img/corona-5.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .schweiz-1 {
   background-image: url('../img/schweiz-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .schweiz-2 {
   background-image: url('../img/schweiz-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .schweiz-3 {
   background-image: url('../img/schweiz-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .schweiz-4 {
   background-image: url('../img/schweiz-4.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .schweiz-5 {
   background-image: url('../img/schweiz-5.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .ausland-1 {
   background-image: url('../img/ausland-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .ausland-2 {
   background-image: url('../img/ausland-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .ausland-3 {
   background-image: url('../img/ausland-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .ausland-4 {
   background-image: url('../img/ausland-4.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .ausland-5 {
   background-image: url('../img/ausland-5.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .wirtschaft-1 {
   background-image: url('../img/wirtschaft-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .wirtschaft-2 {
   background-image: url('../img/wirtschaft-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .wirtschaft-3 {
   background-image: url('../img/wirtschaft-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .sport-1 {
   background-image: url('../img/sport-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .sport-2 {
   background-image: url('../img/sport-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .sport-3 {
   background-image: url('../img/sport-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .digital-1 {
   background-image: url('../img/digital-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .digital-2 {
   background-image: url('../img/digital-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .digital-3 {
   background-image: url('../img/digital-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .people-1 {
   background-image: url('../img/people-1.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .people-2 {
   background-image: url('../img/people-2.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .people-3 {
   background-image: url('../img/people-3.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }
